* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    padding: 20px;
}
div {
    max-width: 599px;
    margin: 0 auto;
    background: rgb(10 44 97);
    padding: 19px;
    border: 2px solid #11173f9e;
}
header {
    background: #484385;
    color: white;
    padding: 20px;
    text-align: center;
}
header h1 {
    font-size: 2em;
}
form {
    display: flex;
    gap: 10px;
    padding: 20px;
    border-bottom: 1px solid #1a128f;
}
input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 1em;
}
button {
    padding: 10px 20px;
    background: #dfdfdf;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}
button:hover {
    background: #000000;
    color: white;
}
p {
    padding: 10px;
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    padding: 15px;
    border-bottom: 1px solid #1a128f;
    display: flex;
    gap: 10px;
}
li.done {
    opacity: 0.5;
}
li span {
    flex: 1;
}